
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 220 17% 35%;
    --card: 0 0% 100%;
    --card-foreground: 220 17% 35%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 17% 35%;
    --primary: 230 83% 82%;
    --primary-foreground: 224 30% 16%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 215 16% 47%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215 16% 47%;
    --accent: 48 77% 77%;
    --accent-foreground: 27 81% 26%;
    --destructive: 0 84% 82%;
    --destructive-foreground: 0 74% 31%;
    --border: 210 18% 93%;
    --input: 210 20% 96%;
    --ring: 230 83% 82%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
